.form_container {
  width: 50%;
  height: fit-content;
  padding: 5% 5% 0 5%;
  margin-top: 2%;
  border: 1px solid #222222;
  border-radius: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .form_container {
    width: 90%; 
    padding: 5% 5% 0 5%;
  }
}

.underlined_text {
  margin-left: 0;
  align-items: center;
  color: #033169;
  text-decoration: underline;
  text-decoration-color: #76ead5;
  text-transform: uppercase;
}

.underlined_text:hover {
  cursor: pointer;
}

input.valid {
  border-color: green;
  box-shadow: 0 0 5px green;
}

input.invalid {
  border-color: red;
  box-shadow: 0 0 5px red;
}

@media only screen and (max-width: 768px) {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px; 
  }

  .underlined_text {
    font-size: 14px;
  }
}
